root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.{cjs,js,json,jsonc,mjs,ts,yaml,yml}]
indent_style = space
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[{package-lock.json,**/package-lock.json}]
indent_style = unset
indent_size = unset
